[submodule "text_to_json"]
	path = text_to_json
	url = https://github.com/nikunicke/text_to_json.git
[submodule "reaktor2019-frontend"]
	path = reaktor2019-frontend
	url = https://github.com/nikunicke/reaktor2019-frontend.git
